<div class="contents" *ngIf="className">
    <!-- Seating Arrangement Table -->
    <table border="1" cellspacing="0" cellpadding="8" style="width: 100%; text-align: center;">
      <thead>
        <tr>
          <!-- Class Name Row -->
          <th [attr.colspan]="seatingArrangement.length * 2 - 1" style="border: none; font-weight: bold; text-align: center;">
            {{ className }}
          </th>
        </tr>
        <tr *ngFor="let classCount of getClassCounts()">
            <td class="count-info">
              {{ classCount.className }} SAYISI : {{ classCount.count }}
            </td>
          </tr>
        <tr>
          <!-- Empty cells to push "Cam Kenarı" to the rightmost column -->
          <td style="border: none;" [attr.colspan]="seatingArrangement.length * 2 - 2">
            <!-- Empty cell for spacing -->
          </td>
          <td style="text-align: center; font-weight: bold; border: none;">
            Cam Kenarı
          </td>
        </tr>
        <tr>
            <td style="border: none;"></td>
        </tr>
      </thead>
      <tbody>
        <!-- Seating Rows -->
        <tr *ngFor="let rowIndex of getRowIndexes()">
          <ng-container *ngFor="let col of seatingArrangement; let colIndex = index">
            <td>
              <div  *ngIf="col[rowIndex] as student">
                {{ student.name }}<br>
                <small>{{ student.grade }}</small>
              </div>
            </td>
            <!-- Empty column if column count is odd, and current column is not the last column -->
            <td *ngIf="seatingArrangement.length % 2 !== 0 && colIndex !== seatingArrangement.length - 1" class="spacing">
              &nbsp;
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
</div>

<div *ngIf="!className">
    <p>No class selected.</p>
</div>
